<!DOCTYPE HTML>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>

</style>


<div th:replace="site/head::head(${commons.site_title()},${commons.google_site_verification()}, ${commons.baidu_site_verification()})"></div>
<body>


<!-- header -->

<div th:replace="site/header::header"></div>

<!-- header -->

<!-- main -->

<main role="main-inner-wrapper" class="container">


    <!--<div class="row">-->


        <!-- Left -->
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 " style="padding: 0px;">

            <article role="pge-title-content" class="blog-header">
                <!--<header>-->
                    <!--<h2><span>Blog</span> write by luis</h2>-->
                <!--</header>-->
                <p>Some technical blogs and life logs about Java.</p>
            </article>


                <th:block th:each="article: ${articles.list}">
                    <!--<th:block th:if="${articleStat.index % 2 != 0}">-->
                            <div style="width: 45.5%; height: 300px;margin-left: 10px;margin-bottom:20px;float: left;">
                                <a th:href="${commons.blogPermalink(article.cid)}" target="_Blank">
                                        <img th:src="${commons.show_thumb(article.content) ?:commons.randomBlogPic(1322)}" alt=""
                                             style="width: 100%; height: 80%;"/>
                                </a>
                                <div style="font-weight: bold;">
                                    <th:block th:text="${article.title}"></th:block>
                                </div>
                                <div>
                                    <th:block th:utext="${commons.fmtdate_en(article.created)}"></th:block>
                                </div>
                            </div>

                    </th:block>
                </th:block>



        </div>





    <!--</div>-->
    <div class="lists-navigator clearfix">
        <div th:replace="comm/macros::pageNav(${articles},'←','→','blog/page')"></div>
    </div>
</main>


<!-- main -->

<!-- footer -->

<div th:replace="site/footer::footer(${commons.site_title()},${commons.site_record()},${commons.site_url()})"></div>

</body>



</html>